.div1{
   background: linear-gradient(rgba(0, 0, 0, 1),rgba(0,0,0,0)),url(../images/Banner\ Image.png);
    
    width: 1320px;
    height: 600px;
    border-radius:18px ;
    display: flex;
    margin: 100px auto;
    
   

}
.p1_head1_container{
    width: 632px;
    height: 210px;
    margin: 195px 344px;
      
}

#p1{
    font-size: 32px;
    color: white;
    margin-bottom: 0px;
    text-align: center; 
}
#head1{
    color: white;
    font-size: 60px;
    margin-top: 0px;
    text-align: center; 
   
}

#offer-title{
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
    margin-bottom: 45px;
    
}

#off-des{
    font-size: 24px;
    color: #FF0000;
    font-weight: 700;
    margin: 0px;
    
}

#off-sub-title{
    font-size: 48px;
    font-weight: bold;
    color: #070211;
    margin: 0px;
    
}

.div-2{
    display: flex;
    /* width: 802.9px;
    height: 806px; */
    
}

.container-2{
    display: block;
    margin: 0px auto;
    text-align: center;
}

#image-new-year{
   
    width:802.9px ;
    height:500px ;
    
}

.div-3{
    background:radial-gradient(rgba(0,0,0,0.3),rgba(0,0,0,1)), url(../images/Vectorrr.png); 
    /* background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.9));
    background: radial-gradient(rgba(0,0,0,0.3),rgba(0,0,0,1)); */
    width: 1320px;
    height: 600px;
    margin: 150px auto;
    border-radius: 10px;
    display: flex;
}

.container-3{
    padding: 90px;
}

.div_image{
  width: 280px;
  height: 380px;
    padding:70px 50px 50px 60px ;
 }

#welcome-title{
    font-size: 80px;
    color: white;
    width:642px ;
    height:154.59px ;
    font-weight: bold;
}

#welcome-description{
    font-size: 18px;
    color: white;
    width:697px ;
    height:53px ;
    margin-top: 0px;
}


#welcome-join-paragraph{
    width:103px ;
    height:21px ;
    color: white;
    font-size: 20px;
    font-weight: bold;
   padding-left: 80px;
}



.div-4{
    background: linear-gradient(rgb(244, 223, 223),rgb(0, 0, 100,0));
    width: 1320px;
    height: 482px;
    margin: 150px auto;
    border-radius: 10px;
}

.container-4{
    text-align: center;
    padding-top: 80px;
}



.para-4{
    font-size: 32px;
    font-weight: 600;
    color: #070211;
}

.s{
    color: #FF0000;
}

.btn{
    width: 167px;
    height: 56px;
    font-size: 18px;
    background-color: #FF0000;
    border-radius: 5px;
    color: white;
    border: none;
    margin-top: 30px;
}


#sec-x{
    display: flex;
    justify-content: space-around;
    width: 1320px;
    height: 463px;
    margin: 150px auto;
}

.container-5{
    margin-top: 100px;
}


.best-offer-1{
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    margin-bottom: 10px;
    width: 207px;
    height: 27px;
}

.best-offer-2{

        font-size: 48px;
        font-weight: 800;
        color: #070211;
        margin: 0px;
        width: 328px;
        height: 60px;

}

.best-offer-3{

    font-size: 20px;
    font-weight: 500;
    color: #070211;
    margin: 0px;
    width: 393px;
    height: 128px;


}

#ellipse-image{
   
    border:10px solid #FF0000 ;
    border-radius: 50%;
    padding: 30px;
    margin-left: 60px;
    margin-right: 50px;

}


#last-p1{
    font-size: 48px;
    font-weight: 500;
    color: #FF0000;
    margin: 0px;
}

#last-p2{
    font-size: 20px;
    font-weight: normal;
    color: #070211;
    width: 276px;
    height: 96px;
}

#last-part-image{
    width: 140px;
    height: 140px;
    margin: 0px;
}

.container-7{
    margin-top: 70px;
    margin-left: 120px;
}


#section-50-off{
    /* display: flex; */
    width: 1320px;
    height: 900px;
    background-image: url(../images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 150px auto;
}

#container-8{
    margin-bottom: 0px;
    display: flex;
   
}

#xy{
    /* margin-left: 200px; */
}

#p1-50{

    font-size: 24px;
    font-weight: 500;
    color: #070211;
    width: 263px;
    height: 29px;
    margin-bottom: 0px;
    margin-left: 550px;
   text-align: center;
   
   

}

#p2-50{

    font-size: 72px;
    font-weight: bold;
    color: #070211;
    width: 677px;
    height: 91px;
    margin: 0px;
    text-align: center;
    margin-left: 320px;
   
}

#p3-50{

    font-size: 20px;
    font-weight: 500;
    color: #070211;
    width: 1068px;
    height:96px;
    margin: 0px;
    margin-left: 110px;
    text-align: center;
   
    

}


.container-9{
    margin-top: 0px;
   
}

#sec-colom-image{
    
    width: 1320px;
    height: 1163px;
    margin-left: 100px;

}

#i-c{
    display: flex;
    margin: 0px auto;
    /* justify-content: space-around; */
   
}

.im{
    width: 424px;
    height: 450px;
    margin: 0px;
    margin-bottom: 10px;
   
}

#Newsletter{
    background-color:rgb(244, 223, 223) ;
    border-radius: 10px;
    width: 1320px;
    height: 616px;
    margin:100px auto ;
   
}


#newsletter-image{
    width: 150px;
    height: 150px;
    margin-left: 600px;
    margin-top: 100px;
}

.s-n{
    font-size: 48px;
    font-weight: 800;
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 450px;
}

#inp{
    width: 400px;
    height: 50px;
    border-radius: 50px;
    font-size: 25px;
    padding: 15px;
    padding-left: 50px;
    margin-left: 350px;
    margin-right: 0px;
}

#sub-btn{
    width: 200px;
    height: 80px;
    background-color: #FF0000;
    border-radius: 50px;
    font-size: 25px;
    padding: 15px;
    margin: 0px;
}









